/* Titelstijl */
.parking-title {
    color: #58917A;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

/* Kaderstijl */
.parking-info-box,
.booking-box,
.reviews-box {
    border: 2px solid #58917A;
    border-radius: 8px;
    background-color: #F9F9F9;
}

/* Back to Home knop */
.back-home-btn {
    background-color: #58917A;
    color: white;
    border-radius: 6px;
    font-size: 1.2rem;
}

/* Mobiele optimalisatie */
@media (max-width: 768px) {
    .parking-title {
        font-size: 1.8rem;
    }
    .back-home-btn {
        margin-bottom: 20px;
    }
    .parking-info-box, .booking-box, .reviews-box {
        padding: 20px;
    }
    .btn {
        font-size: 1.2rem;
    }
}
