.get-in-touch {
    background-color: #f8c0da; /* Lichtroze */
    color: #000; /* Zwart */
    border-radius: 8px;
    padding: 20px;
}

.get-in-touch a {
    color: #007bff; /* Blauwe links */
    text-decoration: none;
}

.get-in-touch a:hover {
    text-decoration: underline;
}

.get-in-touch .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.get-in-touch img {
    vertical-align: middle;
    margin-right: 10px;
}

