.get-in-touch {
    background-color: #d1e7f5; /* Lichtblauw */
    color: #08265f; /* Blauw */
    border-radius: 8px;
    padding: 20px;
}

.get-in-touch a {
    color: #021122; /* Blauwe links */
    text-decoration: none;
}

.get-in-touch a:hover {
    text-decoration: underline;
}

.get-in-touch .btn {
    background-color: #011021; /* Donkerder blauw */
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.get-in-touch img {
    vertical-align: middle;
    margin-right: 10px;
}
